/* My style */

@mixin body-margin {
    margin {
        left: 10px;
        right: 10px;
    }
}

@mixin div-margin {
    margin {
        left: 15px;
        right: 15px;
    }
}

body {
    @include body-margin();
}

div {
    @include div-margin();
}
